html{
    background-color: #f2f2f2;
}
body{
    margin: auto;
    max-width: 50em;
}
#title{
    /*THIS IS FOR PLACING THE TITLE SECTION*/
    margin-top: 1em;
}
#title h1{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: auto;
    
}
#main{
    /*THIS IS FOR PLACING THE MAIN SECTION*/
    margin-top: 5em;
    overflow: auto;
}
#main h1{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: auto;
}
#main h2{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:auto;
}
#main p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: .5em;
    font-size: 1em;
}
#main img{
    max-width: 40vw;
    max-height: 60vh;
    float:right;
    margin-left: 1em;
}
#links{
    /*THIS IS FOR PLACING THE LINKS SECTION*/
    margin-top: 2em;
}
#links a{
    /*positioning*/
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
    /*text decoration*/
    text-decoration: underline;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
#left{
    margin-right: 1em;
}
#right{
    margin-right: auto;
    float: right;
}